# Backend
NODE_ENV=development
PORT=3000

# Database
# Puerto 5433 (no 5432) para evitar conflicto con PostgreSQL local del sistema operativo
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5433/catlogistica

# Redis
REDIS_URL=redis://localhost:6379

# Auth - genera valores aleatorios seguros en producción
JWT_SECRET=cambia_esto_en_produccion_minimo_32_chars
JWT_REFRESH_SECRET=cambia_esto_en_produccion_minimo_32_chars
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# MinIO / S3
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=catlogistica

# Frontend (variables VITE_ son expuestas al cliente)
VITE_API_URL=http://localhost:3000
VITE_WS_URL=ws://localhost:3000
